@model Kutuphane.Models.KRT_UYE

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>KRT_UYE</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TC)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TC)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CINSIYET)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CINSIYET)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AD)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AD)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SOYAD)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SOYAD)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DOGUM_TARIHI)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DOGUM_TARIHI)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DOGUM_YERI)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DOGUM_YERI)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MESLEK)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MESLEK)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MAIL)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MAIL)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TELEFON)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TELEFON)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ADRES)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ADRES)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.KAYIT_TARIHI)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.KAYIT_TARIHI)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.UYE_NO }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
